@mixin flex($row: space-between, $col: center) {
    display: flex;
    justify-content: $row;
    align-items: $col;
}

@mixin bgImg($wid:0,$hei:0,$url:"",$bgs:contain,$dp:inline-block) {
    width: $wid;
    height: $hei;
    background: url($url) no-repeat center;
    background-size: $bgs;
    display: $dp;
}